<div class="container-fluid full-width">

  {{> bloww }}

  {{#each blogs}}
    <div class="panel panel-default">
      <div class="panel-body blog" data-id="{{this.id}}">
        <div>

      <button class="btn btn-default arrow-up voted" data-id="{{this.id}}" ><span class="glyphicon glyphicon-arrow-up" data-id="{{this.id}}"></span></button>

          <div class="blog-rating" data-id="{{this.id}}">
            <h3>{{this.rating}}</h3>
          </div>
          <button class="btn btn-default arrow-down voted" data-id="{{this.id}}"><span class="glyphicon glyphicon-arrow-down" data-id="{{this.id}}"></span></button>


          <div class="blog-title">
            <h3>{{this.title}}</h3></div>
        </div>
        <div>
          <div>{{this.description}}</div>
          <div>
            <h4>Tags : </h4>
            {{#each this.tags}}
              <btn class="btn-primary btn-xs" data-tagid="{{this.id}}">{{this.name}}</btn>
            {{/each}}
          </div>
          <div><a href='{{this.url}}'>{{this.url}}</a></div>
          <div>
            <form action="/blogs/{{this.id}}" method="GET"><input type="submit" value="blog detail"></form>
          </div>
        </div>

      </div>
    </div>
  {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>

<script>
  var socket = io.connect();
  socket.on('message', function (responseData){
    console.log('responseData',responseData);
    console.log('what is happening',$(`.blog-rating[data-id=${responseData.id}]`).children());

    $(`.blog-rating[data-id=${responseData.id}]`).children().text(`${responseData.rating}`)

  })


</script>
