<div class="container">
  {{#each blogs}}
    <h1>{{this.title}}</h1>
    <h4>{{this.rating}}</h4>
    <p>{{this.description}}</p>
    <div><a href='{{this.url}}'>{{this.url}}</a></div>

    <h4>Tags : </h4>
    {{#each this.tags}}
      <btn class="btn-primary btn-xs" data-tagid="{{this.id}}">{{this.name}}</btn>
    {{/each}}

    <div class="page-header">
      <h1><small class="pull-right"></small> Comments </h1>
    </div>
    {{#each this.comments}}
      {{> comments}}
    {{/each}}
    {{> addComment}}

    {{#if error}}
      <h3>{{error}}</h3>
    {{/if}}

  {{/each}}
</div>
