<!--  Potential Comment Box Options -->

<!--
1) http://bootsnipp.com/snippets/featured/ui-comments

2) also the code below http://bootsnipp.com/snippets/featured/comments-list

-->


<!--
Each blog will have its own comments-list

{{#each blog}}
  {{#each comment}}

  {{/each}}
{{/each}}

 -->

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="comments-list">
        <div class="media">


          <div class="panel panel-default col-xs-12">
            <div class="panel-body comment" data-id="{{this.comments_id}}">
              <p class="pull-right"><small>{{this.created_at}}</small></p>

              <div class="col-xs-1">
                <button class="btn btn-default btn-xs arrow-up-comment voted" data-id="{{this.comments_id}}"><span class="glyphicon glyphicon-arrow-up" data-id="{{this.comments_id}}"></span></button>
                <div class="blog-rating" data-id="{{this.comments_id}}">
                  <p><strong>{{this.comment_rating}}</strong></p>
                </div>
                <button class="btn btn-default btn-xs arrow-down-comment voted" data-id="{{this.comments_id}}"><span class="glyphicon glyphicon-arrow-down" data-id="{{this.comments_id}}"></span></button>
              </div>

              <div class="col-xs-11">
                <h4 class="media-heading user_name">{{this.user_name}}</h4>
                <p>{{this.text}}</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
