<!--  Potential Comment Box Options -->

<!--
1) http://bootsnipp.com/snippets/featured/ui-comments

2) also the code below http://bootsnipp.com/snippets/featured/comments-list

-->


<!--
Each blog will have its own comments-list

{{#each blog}}
  {{#each comment}}

  {{/each}}
{{/each}}

 -->
<div class="container">
            <div class="row">
                <div class="col-md-8">
                  <div class="page-header">
                    <h1><small class="pull-right">45 comments</small> Comments </h1>
                  </div>
                   <div class="comments-list">
                       <div class="media">
                           <p class="pull-right"><small>{{this.created_at}}</small></p>
                            <a class="media-left" href="#">
                              <!-- <img src="http://lorempixel.com/40/40/people/1/"> -->
                            </a>
                            <div class="media-body">

                              <h4 class="media-heading user_name">{{this.user_name}}</h4>
                                <p>{{this.text}}</p>
                                <p><strong>{{this.rating}}</strong></p>
                                <form action="/blogs/{{this.blog_id}}/comments/{{this.comment_id}}?_method=PUT" method="POST">
                                  <button type="submit">Rate</button>
                                </form>
                              <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
                            </div>
                          </div>
                   </div>
                </div>
            </div>
        </div>
